.card,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  margin: 10px;
  cursor: pointer;
}

.css-12bcxhr{
  margin-top:5px;
}

.popup-content{
  width: 75vw !important;
  height: 75vh !important;
  
}

.ant-upload-list-item-undefined{
  max-width:10vw !important;
}

.ant-upload-list-item-name{
  display:none !important;
}

@keyframes zoom {
  from {
    transform: scale(0.1)
  }

  to {
    transform: scale(1)
  }
}

img {
  position: relative;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  cursor: pointer;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.container {
  padding: 2px 16px;
}

.modal {
  height: 100%;
  width: 100% !important;
  overflow-y: auto;
}

.modal>.photogrid{
  height: 100%;
  width: 100% !important;
  overflow-y: auto !important;

}


.modal>.header {
  width: 100%;
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 5px;
}

.modal>.content {
  width: 100%;
  padding: 10px 5px;
}

.modal>.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.modal img{
  width: 33vw !important;
}